<p>HOLA MUNDO</p>
<div>
    <form>
        <div>
            <input type="text" placeholder="Nombre 1">
            <input type="text" placeholder="Nombre 2">
            <input type="text" placeholder="Apellido 1">
            <input type="text" placeholder="Apellido 2">
            <input type="number" placeholder="Número de celular">
            <input type="email" placeholder="Correo">
            <input type="text"placeholder="Cédula">
            <input type="text" placeholder="Direccion">
        </div>
        <div>
            <button type="submit"> </button>
        </div>
    </form>

</div>
