<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>

    </head>
    <body>
        <div class="registrar">
            <form class="registro" method="post">
                <div class="form-Register ">
                    <h1>Registrate</h1>
                    <p>
                        Primer Nombre: <input type="text" name="nombre1"
                            placeholder="Nombre" required>
                    </p>
                    <p>
                        Segundo Nombre: <input type="text" name="nombre2"
                            placeholder="Nombre">
                    </p>
                    <p>
                        Primer Apellido: <input type="text" name="apellido1"
                            placeholder="Apellido" required>
                    </p>

                    <p>
                        Segundo Apellido: <input type="text" name="apellido2"
                            placeholder="Apellido" required>
                    </p>
                    <p>
                        Telefono: <input type="tel" name="numero"
                            placeholder="Número"
                            required>
                    </p>

                    <p>
                        Email:<input type="email" name="email"
                            placeholder="Email"
                            required>
                    </p>
                    <p>
                        Identificación: <input type="text" name="cedula"
                            placeholder="Cédula" required>
                    </p>
                    <p>
                        Direccion: <input type="text" name="direccion"
                            placeholder="Direccion" required>

                    </p>
                </div>
                <dir class="btn-register">
                    <button type="submit">Registrar</button>
                </dir>

            </form>
        </div>
    </body>
</html>
